/*Standard CSS properties applicable to html elements*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*Additional CSS, for body*/
body{
    background: rgb(176, 203, 230);
}
/*Styling for class name card*/
.card{
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    width: 90%;
    background: linear-gradient(145deg, #d4679e, #8a6a54);
    border-radius: 20px;
    max-width: 470px;
    color: #413939;
}
/*styling for search class*/
*search{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
/*Styling for search input box*/
.search input{
    background: #92aaa5;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    outline: 0;
    border: 0;
    height: 60px;
    margin-right: 16px;
    color: #3a3737;
}
/*Styling for button*/
.search button{
    width: 60px;
    height: 60px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    background: #c5cac9;
}
/*Styling for img in search button*/
.search button img{
    width: 15px;
}
/*Styling for weather icon*/
.weather-icon{
    margin-top: 30px;
    width: 170px;
}
/*Decorate h1 title*/
.weather h1{
    font-weight: 450;
    font-size: 75px;
}
/*Decorate h2 title*/
.weather h2{
    font-weight: 350;
    font-size: 45px;
    margin-top: -10px;
}
/*Decorate class name details*/
.details{
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 20px;
}
/*Update size of icons and their text*/
.col{
    align-items: center;
    text-align: center;
    display: flex;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    margin-top: -5px;
    font-size: 26px;
}
/*Hide default weather setting*/
.weather{
    display: none;
}
/*CSS for error message*/
.error{
    display: none; /*hide until needed*/
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}