/*Standard CSS prperties applicable to html elements*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*Additional CSS, for body*/
body{
    background: lightslategrey;
}
/*Styling for class name card*/
.card{
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    width: 90%;
    background: linear-gradient(145deg, #fe007f, #8a6a54);
    border-radius: 20px;
    max-width: 470px;
    color: #413333;
}
/*styling for search class*/
*search{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
