/*Standard CSS prperties applicable to html elements*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*Additional CSS, for body*/
body{
    background: lightslategrey;
}
/*Styling for class name card*/
.card{
    
}